*{
    scroll-behavior:smooth ;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
header{
    height:600px;
    width:100%;
    background-color: rgb(1, 28, 63);
    color: white;
    text-align: center;
    padding:20px 0;
    background-image: url('assets/bg7.jpg');
    background-size: cover; 
    background-position: center;
}
header h1{
    font-size:70px;
    letter-spacing: 3px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
header h1:hover{
    transform: scale(1.2); 
    box-shadow: 0 8px 16px rgba(179, 173, 173, 0.4); 
}
header h3{
    font-size:50px;
    letter-spacing: 3px;
}
header p{
    padding-top: 90px;
    font-size:40px;
    letter-spacing: 3px;
}
.main {
    display: grid;
    grid-template-columns: 15% 1fr; 
    grid-gap: 20px; 
    padding: 20px;
    padding-top: 0;
    padding-right: 0;
   
}
.left{
    background-color: white;
    position:sticky;
    top:450px;
}
.options {
    list-style-type: none; 
}
.options li{
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.options li a {
    color:rgb(1, 28, 63); 
    text-decoration: none;
}

.options li a:hover {
    color: rgb(102, 5, 41);
}
.options li:hover {
    transform: translateX(20px); }
.img1 img{
    width: 140px;
    height:140px;
    margin-top: 400px;
    margin-bottom: 300px;
}

.right{
    background-image: url('assets/bg7.jpg');
    background-size: cover; 
    background-position: center;
}
.aboutdes{
    padding-left: 25px;
    padding-right: 16px;
    color:white;
    margin-bottom: 20px;
    font-size: larger;
    margin-top: 50px;
    width:650px;
    padding-left:100px;
}
.aboutdes:hover{
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.edutable{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: larger;
    margin-top: 50px;
    height: 500px;
}
.education{
    border-collapse: separate;
    border-spacing: 40px;
    color: white;
    border: 2px solid white;
}
    footer{
        background-color: white;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    .socialmedia img{
        display: inline-block;
        margin: 0 10px;
        width: 40px;
        height:auto;
        margin-left: 50px;
        transition: transform 0.3s ease, filter 0.3s ease;
        margin-bottom: 20px;
    }
    .socialmedia img:hover {
        transform: scale(1.2); 
        filter: brightness(150%);
    }
    .mail{
        height: 30px;
        width:30px;
        margin-right: 10px;
    }
    .phone{
        height: 30px;
        width:30px; 
        margin-right: 10px;
    }
    