*{
    scroll-behavior:smooth ;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
header{
    height:600px;
    width:100%;
    background-color: rgb(1, 28, 63);
    color: white;
    text-align: center;
    padding:20px 0;
    background-image: url('assets/bg7.jpg');
    background-size: cover; 
    background-position: center;
}
header h1{
    font-size:70px;
    letter-spacing: 3px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
header h1:hover{
    transform: scale(1.2); 
    box-shadow: 0 8px 16px rgba(179, 173, 173, 0.4); 
}
header h3{
    font-size:50px;
    letter-spacing: 3px;
}
header p{
    padding-top: 90px;
    font-size:40px;
    letter-spacing: 3px;
}
.main {
    display: grid;
    grid-template-columns: 15% 1fr; 
    grid-gap: 20px; 
    padding: 20px;
    padding-top: 0;
    padding-right: 0;
   
}
.left{
    background-color: white;
    position:sticky;
    top:450px;
}
.options {
    list-style-type: none; 
}
.options li{
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.options li a {
    color:rgb(1, 28, 63); 
    text-decoration: none;
}

.options li a:hover {
    color: rgb(102, 5, 41);
}
.options li:hover {
    transform: translateX(20px); }
.img1 img{
    width: 140px;
    height:140px;
    margin-top: 400px;
    margin-bottom: 300px;
}

.right{
    background-image: url('assets/bg7.jpg');
    background-size: cover; 
    background-position: center;
}
.aboutdes{
    padding-left: 25px;
    padding-right: 16px;
    color:white;
    margin-bottom: 20px;
    font-size: larger;
    margin-top: 50px;
    width:650px;
    padding-left:100px;
}
.aboutdes:hover{
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.edutable{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: larger;
    margin-top: 50px;
    height: 500px;
}
.education{
    border-collapse: separate;
    border-spacing: 40px;
    color: white;
    border: 2px solid white;
}
/* .projectdetails{
    
    display: grid;
    grid-template-rows: auto auto; 
    gap: 20px; 
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: larger;
    }
    .project{
        padding: 40px;
        background-color:linear-gradient(to bottom, rgb(112, 181, 230), #24a4ee70);  
        border-radius: 10px;
        color:white;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }  
    .project:hover {
        transform: scale(1.05); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
        
    }
    .proj{
        margin-top: 200px;
        color:rgb(1, 28, 63); 
        font-size: 50px;
    }
    .proj img{
        height:120px;
        width:120px;
    } */
    /* .exp img{
        height:200px;
        width:200px;
        margin-top: 300px;
    } */
    /* .sk img{
        height:200 px;
        width:200px;
        margin-top: 300px;
     } */
    /* .experience{
        display: grid;
        grid-template-columns: auto auto; 
        gap: 20px; 
        padding: 20px;
        margin-bottom: 20px;
        font-size: larger;
        height:400px;
        padding-top: 60px;
        
    }
    .experience div{
        padding:20px;
        background-color: rgb(6, 55, 97); 
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        color:white;
        height:200px;
    }
    .experience div:hover{
        transform: scale(1.05); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }  */
    /* .section{
        height:500px;
        color:white;
    }
    .section p{
        text-align: center;
        font-size: 30px;
    }
    .skills {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        background-color: rgb(6, 55, 97,0.461);
        width:80%;
        margin-left: 60px;
        padding:20px;
        margin-bottom: 80px;   
        margin-top: 80px;
        font-size: larger;
    }
    .skills:hover{
        transform: scale(1.05); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }
    
    .skill-column {
        flex: 0 0 45%; 
    }
    
    .skill {
        margin-bottom: 15px;
        color:white
    }
    
     .skill-bar1 {
        height: 20px;
        background: linear-gradient(to right, rgb(245, 245, 249) 85%, rgb(75, 1, 55) 85% );
        width: 100%;
        border-radius: 5px;
    }
     .skill-bar2 {
        height: 20px;
        background: linear-gradient(to right, rgb(245, 245, 249) 82%, rgb(75, 1, 55) 82% );
        width: 100%;
        border-radius: 5px;
    }
     .skill-bar3 {
        height: 20px;
        background: linear-gradient(to right, rgb(245, 245, 249) 70%, rgb(75, 1, 55) 70% );
        width: 100%;
        border-radius: 5px;
    }
     .skill-bar4 {
        height: 20px;
        background: linear-gradient(to right, rgb(245, 245, 249) 81%, rgb(75, 1, 55) 81% );
        width: 100%;
        border-radius: 5px;
    }
     .skill-bar5 {
        height: 20px;
        background: linear-gradient(to right, rgb(245, 245, 249) 80%, rgb(75, 1, 55) 80% );
        width: 100%;
        border-radius: 5px;
    }
    .skill-bar6 {
        height: 20px;
        background: linear-gradient(to right, rgb(245, 245, 249) 80%, rgb(75, 1, 55) 80% );
        width: 100%;
        border-radius: 5px;
    }
    
    span {
        display: block;
        margin-top: 5px;
    } */
    footer{
        background-color: white;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    .socialmedia img{
        display: inline-block;
        margin: 0 10px;
        width: 40px;
        height:auto;
        margin-left: 50px;
        transition: transform 0.3s ease, filter 0.3s ease;
        margin-bottom: 20px;
    }
    .socialmedia img:hover {
        transform: scale(1.2); 
        filter: brightness(150%);
    }
    .mail{
        height: 30px;
        width:30px;
        margin-right: 10px;
    }
    .phone{
        height: 30px;
        width:30px; 
        margin-right: 10px;
    }
    