.section{
    height:500px;
    color:white;
}
.section p{
    text-align: center;
    font-size: 30px;
}
.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: rgb(6, 55, 97,0.461);
    width:80%;
    margin-left: 60px;
    padding:20px;
    margin-bottom: 80px;   
    margin-top: 80px;
    font-size: larger;
}
.skills:hover{
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.skill-column {
    flex: 0 0 45%; /* Adjust as needed */
}

.skill {
    margin-bottom: 15px;
    color:white
}

 .skill-bar1 {
    height: 20px;
    background: linear-gradient(to right, rgb(245, 245, 249) 85%, rgb(75, 1, 55) 85% );
    width: 100%;
    border-radius: 5px;
}
 .skill-bar2 {
    height: 20px;
    background: linear-gradient(to right, rgb(245, 245, 249) 82%, rgb(75, 1, 55) 82% );
    width: 100%;
    border-radius: 5px;
}
 .skill-bar3 {
    height: 20px;
    background: linear-gradient(to right, rgb(245, 245, 249) 70%, rgb(75, 1, 55) 70% );
    width: 100%;
    border-radius: 5px;
}
 .skill-bar4 {
    height: 20px;
    background: linear-gradient(to right, rgb(245, 245, 249) 81%, rgb(75, 1, 55) 81% );
    width: 100%;
    border-radius: 5px;
}
 .skill-bar5 {
    height: 20px;
    background: linear-gradient(to right, rgb(245, 245, 249) 80%, rgb(75, 1, 55) 80% );
    width: 100%;
    border-radius: 5px;
}
.skill-bar6 {
    height: 20px;
    background: linear-gradient(to right, rgb(245, 245, 249) 80%, rgb(75, 1, 55) 80% );
    width: 100%;
    border-radius: 5px;
}

span {
    display: block;
    margin-top: 5px;
}
.sk img{
    height:200 px;
    width:200px;
    margin-top: 300px;
 }